__pycache__/
*.pyc
.venv/
venv/
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.pth
models/*.pt
results/benchmarks/*.csv
results/predictions/*.csv
results/figures/*.png
.pytest_cache/

*.zip
*.7z
*.rar
*.h5
.ipynb_checkpoints/

